.vscode/
.DS_Store
*/__pycache__
*.pyc
execs/BoundaryVTK4_linux64
execs/ComputeForces4_linux64
execs/DualSPHysics4_linux64
execs/DualSPHysics4CPU_linux64
execs/DualSPHysicsMultiphase_3.4_linux64
execs/FloatingInfo4_linux64
execs/Gencase4_linux64
execs/libcudart.so.5.5
execs/libcudart.so.7.5
execs/MeasureTool4_linux64
execs/PartVTK4_linux64
execs/PartVTKOut4_linux64
execs/IsoSurface4_linux64
execs/info_linux.txt
*.pdf
input/out/
input/exec_simulation.sh
run/
input/motion.dat
input/test1.xml
input/def.xml
input/test_Def.xml
out/